

/*============================
        CARD BLOCK
==============================*/

.card_block {
    margin: 110px 0px;
    .title {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
    }
}

.card_block_shop {
    .card_item_wrapper {
        float: left;
        width: 33.3%;
        margin-bottom: 20px;
    }
}

/*============================
        CARD ITEM
==============================*/

.card_item_wrapper {
    flex-grow: 1;
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .image {
        width: 100%;
        height: 280px;
        background-position: center !important;
        background-size: cover !important;
        border: 1px solid #f0f0f0;
    }
    .tags {
        position: relative;
        border-bottom: 1px solid #f0f0f0;
    }

}

.card_item_wrapper {
     .tags{
        .brand,.name,.price {
            text-align: center;
            margin: 5px;
         }
        .brand {
            font-size: 17px;
            font-weight: 700;
            color: #2196F3;
        }
        .name {
            font-size: 21px;
            font-weight: 700;
        }
        .price {
            font-weight: 300;
            font-size: 21px;
        }
     }
     .actions {
        display: flex;
        padding: 15px 0 10px 0;
        .button_wrapp:nth-child(1) {
            flex-grow: 1;
            padding-right: 10px;
        }
    }
    &.grid_bars {
        float: none;
        width: 100%;
        display: flex;
         .image {
            width: 420px;
            height: 211px;
            border: none;

        }
        .action_container {
            flex-grow: 1;
            border: 1px solid #e6e6e6;
        }
        .description{
            clear:both;
            padding: 0px 25px;
            border-top: 1px solid #eeeeee;
        }
        .tags{
            border-bottom: 0px;
            padding: 5px 20px;
            .brand {
                font-size: 21px;
            }
             .brand,.name {
                float:left
            }
             .price {
                float:right;
            }

        }
    }
}

.card_item_wrapper.grid_bars .tags,
.card_item_wrapper.grid_bars .actions {
    clear:both;
    float:right;
    padding: 10px 20px 0px 15px;
}
